/* REDO CATALOGUE PRODUCT FILTERS ICON */

.catalogue_products_filters_menu{
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;

    width: 350px;

    background-color: var(--white-main);

    z-index: 35;

    box-sizing: border-box;
    padding: 0 10px;
}

.catalogue_products_filters_menu_title_bar{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: relative;

    height: 70px;

    border-bottom: solid 1px var(--main-black);
}

.catalogue_products_filters_menu_title{
    font-size: 28px;

    font-weight: 600;

    color: var(--main-black);

    justify-content: center;
}
.catalogue_products_filters_menu_close{
    position: absolute;
    right: 0;

    width: 25px;
    height: 25px;
}

.catalogue_products_filters_menu_close path{
    stroke: var(--main-black);
}
.catalogue_products .bg-exit{
    z-index: 30;
}
.catalogue_products_filters_menu_main{
    display: flex;
    flex-direction: column;

    width: 100%;
}
.catalogue_products_filters_menu_main_title{
    font-size: var(--text-main);

    color: var(--main-black);

    margin-bottom: 10px;
}

.catalogue_products_filters_menu_main_color,
.catalogue_products_filters_menu_main_size{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

    margin-bottom: 10px;
}
.catalogue_products_filters_menu_main_color_item > div{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border: solid 1px var(--main-black);

    cursor: pointer;
}
.catalogue_products_filters_menu_main_color_item > div > div{
    width: 20px;
    height: 20px;
}
.catalogue_products_filters_menu_main_color_item > input:checked ~ div{
    background-color: black;
    transition: 0.2s;
}
.catalogue_products_filters_menu_main_color_item > input,
.catalogue_products_filters_menu_main_size_item > input{
    display: none;
}
.catalogue_products_filters_menu_main_size_item > div{
    font-size: var(--text-main);
    width: 55px;

    text-align: center;

    background-color: var(--white-main);
    border: solid 1px var(--main-black);

    cursor: pointer;
}
.catalogue_products_filters_menu_main_size_item > input:checked ~ div{
    background-color: var(--main-black);
    transition: 0.2s;

    color: var(--white-main);
}
.catalogue_products_filters_menu_main_cost{
    width: 100%;
    min-height: 50px;
}
.catalogue_products_filters_menu_button_wrapper{
    width: 100%;
    position: relative;
    bottom: 0;
}


.catalogue_products_filters_menu-enter {
    transform: translateX(100%);
}
.catalogue_products_filters_menu-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
}
.catalogue_products_filters_menu-exit {
    transform: translateX(0);
}
.catalogue_products_filters_menu-exit-active {
    transform: translateX(100%);
    transition: transform 500ms;
}