@media (min-width: 1025px) {
    .catalogue_products{
        padding: 20px 30px 0 30px;
    }
    .catalogue_products_wrapper{
        display: grid;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(453px, 453px));
    }
    .catalogue_products_nav{
        display: inline-flex;
    }
    .catalogue_products_title{
        justify-content: center;
    }
    .catalogue_products_filters{
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 1024px) and (min-width: 651px) {
    .catalogue_products{
        padding: 20px 20px 0 20px;
    }
    .catalogue_products_wrapper{
        display: grid;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(275px, 275px));
    }
    .catalogue_products_nav{
        display: inline-flex;
    }
    .catalogue_products_title{
        justify-content: center;
    }
    .catalogue_products_filters{
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 650px) {
    .catalogue_products{
        padding: 10px 10px 0 10px;
    }
    .catalogue_products_wrapper{
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        /* grid-template-columns: repeat(2 , calc(50% - 5px)); */
    }
    .catalogue_products_nav{
        display: none;
    }
    .catalogue_products_title{
        justify-content: center;
    }
    .catalogue_products_filters{
        width: 25px;
        height: 25px;
    }
    .catalogue_products_filters_wrapper{
        position: absolute;
        right: 0;
    }
    .catalogue_products_title_bar{
        justify-content: center;
        position: relative;
    }
}
.catalogue_products{
    display: flex;
    flex-direction: column;

}
.catalogue_products_title_bar{
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
}
.catalogue_products_nav{
    flex: 1;

    font-size: var(--text-mini);
    color: var(--sup-black);
}
.catalogue_products_nav a:hover{
    text-decoration: underline;
}
.catalogue_products_nav .active{
    font-weight: 600;
    color: var(--main-black);
}
.catalogue_products_title{
    flex: 2;
    display: flex;
    align-items: center;

    font-size: var(--text-title);
    font-weight: 700;

    text-transform: uppercase;
}
.catalogue_products_filters_wrapper{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.catalogue_products_filters{

    transform: rotate(90deg);
}

.catalogue_products_wrapper{

}