@media (min-width: 1025px){
    .product_card{
        width: 453.25px;
        height: 700px;
        max-width: 450px;
        padding: 10px;
    }
    .product_card_image_wrapper{
        height: 560px;
    }

    .product_card_title{
        margin-top: 15px;
        line-height: 24px;
        font-weight: 500;
    }
}
@media (max-width: 1024px) and (min-width: 651px){
    .product_card{
        /* width: 453.25px; */
        height: 390px;
        width: 100%;
        max-width: 100%;
    
        padding: 0px;
    }
    .product_card_image_wrapper{
        height: 300px;
    }
}
@media (max-width: 650px){
    .product_card{
        width: calc(50% - 5px);
        height: max-content;
        padding: 0px;
    }
    .product_card_image_wrapper{
        height: 80%;
    }
}
.product_card{
    box-sizing: border-box;

    background-color: white;

    position: relative;
}

.product_card_image_wrapper{
    width: 100%;
    position: relative;

    /* display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    position: relative; */
}
/* .product_card_image_wrapper img{
    height: 100%;
    width: 100%;

    object-fit: cover;
} */
.product_card_title{
    color: var(--main-black);
    font-size: var(--text-main);
    position: relative;
}
.product_card_article{
    color: var(--sup-black);
    font-size: 14px;
    line-height: 18px;

    font-weight: 100;

    position: relative;
}
.product_card_devider{
    margin-top: 15px;

    background-color: var(--main-black);

    width: 100%;
    height: 1px;

    position: relative;
}
.product_card_price{
    color: var(--main-black);

    font-weight: 500;
    font-size: var(--text-main);
    line-height: 24px;

    margin-top: 15px;

    position: relative;
}
.product_card_price_button{
    color: var(--main-black);
    font-size: var(--text-main);
    font-weight: 500;

    display: inline-block;
    border: solid var(--main-black) 1px;

    padding: 0 12px;
}
.product_card_price_button:hover{
    transition: 0.25s;

    color: var(--white-main);
    background-color: var(--main-black);
}
.product_card_button{
    margin-top: 15px;

    width: 100%;
}
.product_card_size_values{
    width: 100%;
}
.product_card:hover .product_card_openner{
    display: flex;
    border: solid black 1px;
}
.product_card:hover .product_card_title,
.product_card:hover .product_card_image_wrapper,
.product_card:hover .product_card_article,
.product_card:hover .product_card_devider,
.product_card:hover .product_card_price{
    z-index: 12;
}
.product_card_openner{
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    

    height: 760px;

    box-sizing: border-box;
    padding: 10px;

    background-color: white;

    z-index: 10;
}
.product_card_buttons_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    margin-top: 10px;

}
.product_card_favorite_button{
    width: 20px;
    height: 20px;
    margin-right: 1px;
}
