@media (min-width: 1025px){
    .authorization{
        justify-content: flex-end;
    }
    .login_bg_image_wrapper{
        width: 50%;
    }
    .log_content_wrapper{
        width: 50%;
        margin-top: 25vh;

    }
}
@media (max-width: 1024px){
    .login_bg_image_wrapper{
        width: 100%;
    }
    .log_content_wrapper{
        width: 100%;
        margin-top: 25vh;

    }
    .log_content{
        padding: 30px;
    }
}
@media (max-width: 650px){
    .login_bg_image_wrapper{
        width: 100%;
        display: none;
    }
    .log_content_wrapper{
        width: 100%;
        margin-top: 0;
    }
    .log_content{
        padding: 30px;
    }
}
.authorization{
    display: flex;


    width: 100%;
    min-height: 100vh;
    height: 100%;

    margin-top: 0;

    position: relative;
}
.login_bg_image_wrapper{
    height: 100%;

    position: absolute;

    top: 0;
    left: 0;

    overflow: hidden;

    background-color: black;
    z-index: -10;
}
.login_bg_image{
    min-height: 100%;
    min-width: 100%;

    object-fit: cover;

    opacity: 0.5;
}
.log_content_wrapper{
    margin-bottom: 20px;

}
.log_content{
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 400px;
    width: 100%;

    margin: 0 auto;
    background-color: white;


    /* margin-top: 25vh; */
}
.login_logo{
    display: block;
    width: 100%;
    height: 80px;

    background-color: aqua;
}
.login_sign_in{
    display: flex;
    flex-direction: row;

    width: 100%;

    font-size: var(--text-main);
    font-weight: 600;
}
.login_sign_in > div{
    display: block;
    width: 50%;

    text-transform: uppercase;
    text-align: center;

    position: relative;

    cursor: pointer;
}
.login_link::after,
.sign_in_link::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--main-black);
}
.login_link.active::after,
.sign_in_link.active::after{
    transform: scaleY(3);
    transition: transform 0.1s;
}
.reg_button{
    display: inline;
    
    padding: 0 20px;

    border: solid var(--main-black) 1px;

    background: none;

    transition: ease-in-out 250ms;
}
.reg_button:hover{

}