.leave-comment-block{
    display: flex;
    flex-direction: column;
    width: 350px;
    /* max-width: 350px; */

}
.leave-comment-block h3{
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.leave-comment-block .input-container{
    position: relative;
    margin-bottom: 20px;
    width: 100%;

}
.leave-comment-block .sub_btn-container{
    margin-top: 5px;
}