@media (min-width: 1025px) {
    .catalogue{
        margin-top: 70px;
    }
    .catalogue .catalogue_products{
        margin-bottom: 60px;
    }
}
@media (max-width: 1024px) {
    .catalogue{
        margin-top: 70px;
    }
    .catalogue .catalogue_products{
        margin-bottom: 30px;
    }
    
}
@media (max-width: 650px) {
    .catalogue{
        margin-top: 55px;
    }
    .catalogue .catalogue_products{
        margin-bottom: 30px;
    }
    
}
