@media (min-width: 1025px){
    .recomended_section{
        margin-top: 40px;
    }
}
@media (max-width: 1024px){
    .recomended_section{
        margin-top: 20px;
    }
}
@media (max-width: 650px){

}
body{
    overflow-x: hidden;
}
.banners{
    /* margin-top: 70px; */
    position: relative;

    display: block;

    overflow-x: hidden;

    width: 100%;

}
.home_categoroes{
    width: 100%;
}
.recomended_section{
    width: 100%;

    box-sizing: border-box;

}