@media (min-width: 1025px){
    .banners{
        width: 100%;
        min-height: 100vh;
    }
}
@media (max-width: 1024px){
    .banners{
        width: 100%;
        min-height: 70vh;
    }
}
@media (max-width: 650px){
    .banners{
        width: 100%;
        min-height: 70vh;
    }
}
body{
    overflow-x: hidden;
}
.banners{
    margin-top: 70px;
    position: relative;

    display: block;

    overflow-x: hidden;
}
.home_categoroes{
    width: 100%;
}
.recomended_section{
    width: 100%;

    margin-top: 40px;

    box-sizing: border-box;

}