@media (min-width: 1025px){
    .menu-root{
        width: 350px;
        padding-left: 30px;
    }
    .menu-root .menu_header_container{
        height: 70px;
    }
    .menu_nav_bar_wrapper{
        display: none;
    }
    .menu-root .menu-content{
        height: calc(100% - 80px);
        padding-top: 10px;
    }
    .menu-root .menu_header_container::after{
        display: none;
    }
    .menu-root .cm-logos{
        margin-top: 40px;
    }

    .menu-root-enter {
        transform: translateX(-100%);
    }
    .menu-root-enter-active {
        transform: translateX(0);
        transition: transform 500ms;
    }
    .menu-root-exit {
        transform: translateX(0);
    }
    .menu-root-exit-active {
        transform: translateX(-100%);
        transition: transform 500ms;
    }
    .menu_user_button{
        width: 26px;
        height: 30px;
    }
    .menu_favourite_button{
        width: 34px;
        height: 30px;
    }
    .menu_search_button{
        width: 30px;
        height: 30px;
    }
    .menu-root .close-btn{
        width: 27px;
        height: 27px;
    }
    
}
@media (max-width: 1024px){
    .menu-root{
        width: 350px;
        padding-left: 20px;
    }
    .menu-root .menu_header_container{
        height: 70px;
    }
    .menu_nav_bar_wrapper{
        display: none;
    }
    .menu-root .menu-content{
        height: calc(100% - 80px);
        padding-top: 10px;
    }
    .menu-root .menu_header_container::after{
        display: none;
    }
    .menu-root .cm-logos{
        margin-top: 20px;
    }

    .menu-root-enter {
        transform: translateX(-100%);
    }
    .menu-root-enter-active {
        transform: translateX(0);
        transition: transform 500ms;
    }
    .menu-root-exit {
        transform: translateX(0);
    }
    .menu-root-exit-active {
        transform: translateX(-100%);
        transition: transform 500ms;
    }
    .menu_user_button{
        width: 26px;
        height: 30px;
    }
    .menu_favourite_button{
        width: 34px;
        height: 30px;
    }
    .menu_search_button{
        width: 30px;
        height: 30px;
    }
    .menu-root .close-btn{
        width: 27px;
        height: 27px;
    }
}
@media (max-width: 650px){
    .menu-root{
        width: 100%;
        padding-left: 10px;
    }
    .menu-root .menu_header_container{
        height: 55px;
    }
    .menu_nav_bar_wrapper{
        display: flex;
    }
    .menu-root .menu_header_container::after{
        display: block;
    }
    .menu-root .menu-content{
        height: calc(100% - 55px);
        padding-top: 20px;
    }
    .menu-root .cm-logos{
        margin-top: 20px;
    }

    .menu-root-enter {
        opacity: 0;
    }
    .menu-root-enter-active {
        opacity: 1;
        transition: opacity 500ms;
    }
    .menu-root-exit {
        opacity: 1;
    }
    .menu-root-exit-active {
        opacity: 0;
        transition: opacity 500ms;
    }
    .menu_user_button{
        width: 21px;
        height: 25px;
    }
    .menu_favourite_button{
        width: 29px;
        height: 25px;
    }
    .menu_search_button{
        width: 25px;
        height: 25px;
    }
    .menu-root .close-btn{
        width: 22px;
        height: 22px;
    }
}
.menu-root{
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;

    /* height: 100vh; */

    background-color: rgba(27, 27, 27, 0.80);
    backdrop-filter: blur(1rem);

    box-sizing: border-box;

    z-index: 10;

    padding-bottom: 10px;

}
.menu-root .menu_header_container{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.menu-root .menu_header_container::after{
    content: "";
    width: calc(100% - 10px);

    position: absolute;
    bottom: 0;
    left: 0;

    height: 1px;
    
    background-color: var(--white-main);

}
.menu-root .close-btn{
    cursor: pointer;
}

.menu-root .menu-content{
    display: flex;
    flex-direction: column;

    width: 100%;

    text-transform: uppercase;

    overflow: auto;

    color: white;
    font-size: 18px;
    line-height: 24px;

}
.menu-root .menu-content a{
    position: relative;
    display: inline-flex;
    cursor: pointer;

    margin-bottom: 8px;
}

.menu-root .menu-content a:after{
    content: "";
    width: 100%;
    bottom: -2px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    background: white;
    transition:  .3s ease 0s;
    transform: scale(0);
}
.menu-root .menu-content a:hover::after{
    transform: scale(100%);
}
.menu-root .clothes-block,
.menu-root .delivery-block,
.menu-root .about-block{
    display: flex;
    flex-direction: column;

    width: 100%;
}
.menu-root .delivery-block{
    margin-top: 20px;
}
.menu-root .about-block{
    margin-top: auto;
    padding-top: 20px;
}
.menu-root .cm-logos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.menu-root .cm-logos a{   
    display: block;
}
.menu-root .cm-logos a::after{
    display: none;
}
.menu-root .yt-logo svg path,
.menu-root .yt-logo svg,
.menu-root .vk-logo svg path,
.menu-root .vk-logo svg,
.menu-root .tg-logo svg path,
.menu-root .tg-logo svg,
.menu-root .tk-logo svg path,
.menu-root .tk-logo svg{
    fill: rgb(88, 88, 88);
    transition: 0.25s;
}
.menu-root .yt-logo:hover svg path,
.menu-root .yt-logo:hover svg{
    fill: red;
}
.menu-root .vk-logo:hover svg path,
.menu-root .vk-logo:hover svg{
    fill: cornflowerblue;
}
.menu-root .tg-logo:hover svg path,
.menu-root .tg-logo:hover svg{
    fill: cornflowerblue;
}
.menu-root .tk-logo:hover svg path,
.menu-root .tk-logo:hover svg{
    fill: black;
}
/* CSS TRANSITION ANIMATION */
/* .menu-root-enter {
    transform: translateX(-100%);
}
.menu-root-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
}
.menu-root-exit {
    transform: translateX(0);
}
.menu-root-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms;
} */
.menu_nav_bar_wrapper{
    width: 50%;

    padding-right: 10px;
    
    /* background-color: var(--main-black); */

    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}