@media (min-width: 1025px){

    .categories_wrapper{
        height: 100vh;
    }
    .categories_wrapper .categories_wrapper_link{
        height: 50%;
    }
    .categories_wrapper .categories_wrapper_link:nth-child(1),
    .categories_wrapper .categories_wrapper_link:nth-child(2){
        flex-basis: 50%;
    }
    .categories_wrapper .categories_wrapper_link:nth-child(n+3){
        flex-basis: calc(100% / 3);
}
}
@media (max-width: 1024px){
    .categories_wrapper{
        height: 50vh;
    }
    .categories_wrapper .categories_wrapper_link{
        width: 100%;
        height: 100%;
    }
    .categories_wrapper .swiper-slide{
        width: 50%;
        height: 100%;
    }
}
@media (max-width: 650px){
    .categories_wrapper{
        height: 50vh;
    }
    .categories_wrapper .categories_wrapper_link{
        width: 100%;
        height: 100%;
    }
    .categories_wrapper .swiper-slide{
        width: 100%;
        height: 100%;
    }
}
.categories_wrapper{
    max-height: 1000px;
    min-height: 300px;
    width: 100%;
    max-width: 1920px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.categories_wrapper .categories_wrapper_link{
    font-size: var(--text-title);

    cursor: pointer;

    color: var(--white-main);
    text-align: center;

    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.categories_wrapper .categories_wrapper_link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s;
}
.categories_wrapper span{
    z-index: 2;
    position: relative;
}
.categories_wrapper span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: var(--white-main);
    height: 2px;
    transform: scaleX(0);
    z-index: 2;
    transition: all 0.25s;
}
.categories_wrapper .categories_wrapper_link:hover::before{
    background-color: rgba(0, 0, 0, 0.5);
}
.categories_wrapper .categories_wrapper_link:hover > span::after{
    transform: scaleX(1);
}