@media (min-width: 1025px){
    .cards_swiper {
        height: 760px;
        padding: 0 30px;
    }
    .cards_swiper .cards_swiper_slide {
        width: 453.25px;
    }
    .recomended_more{
        right: 30px;
    }
}
@media (max-width: 1024px){
    .cards_swiper {
        height: 390px;
        padding: 0 20px;
    }
    .cards_swiper .cards_swiper_slide {
        width: 235px;
    }
    .recomended_more{
        right: 20px;
    }
}
@media (max-width: 650px){
    .recomended_more_mobile_delete{
        display: none;
    }
    .cards_swiper {
        height: auto;
        padding: 0 10px;
    }
    .cards_swiper .cards_swiper_slide {
        /* width: 235px; */
        width: calc(50vw - 15px);
        max-width: 235px;
    }
    .recomended_more{
        right: 10px;
        bottom: 50%;
        transform: translateY(50%);
    }
}
.recomended{
    display: flex;
    flex-direction: column;

    width: 100%;
}
.recomended_head{
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    padding: 0 30px;

    box-sizing: border-box;

    position: relative;
}
.recomended_title{
    font-size: var(--text-title);
    
    font-weight: bold;

    text-transform: uppercase;
    text-wrap: nowrap;
}
.recomended_more{
    position: absolute;

    font-size: var(--text-main);

    font-weight: 600;

    text-wrap: nowrap;
}
.recomended_more:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* SWIPER */
.cards_swiper {
    margin-top: 20px;
    width: 100%;

    /* height: 400px; */
    box-sizing: border-box;
}
  
.cards_swiper .cards_swiper_slide {

    display: flex;
}