@media (min-width: 1025px){
    footer{
        padding: 100px 30px 15px 30px;
    }
    footer .footer-container{
        flex-direction: row;
        justify-content: space-between;
    }
    footer .link-blocks{
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
    footer .form-container{
        width: 50%;
    }
}
@media (max-width: 1024px){
    footer{
        padding: 100px 20px 15px 20px;
    }
    footer .footer-container{
        flex-direction: column-reverse;
        justify-content: none;
        align-items: center;
        gap: 40px;
    }
    footer .link-blocks{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
    footer .form-container{
        width: 50%;
    }
}
@media (max-width: 650px){
    footer{
        padding: 100px 10px 15px 10px;
    }
    footer .footer-container{
        flex-direction: column-reverse;
        justify-content: none;
    }
    footer .link-blocks{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    footer .form-container{
        width: 100%;
    }
}
footer{
    width: 100%;

    box-sizing: border-box;

    background-color: #DCDCDC;

    margin-top: 20px;
}
footer .footer-container{
    display: flex;
    /* gap: 450px; */

    width: 100%;

    margin-bottom: 100px;
}
footer .link-blocks{
    display: flex;

}
footer .link-blocks > div{
    width: 240px;
    display: flex;
    flex-direction: column;
}
footer .link-blocks > div h3{
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
footer .link-blocks > div a{
    font-size: 16px;
    color: #909090;
    /* opacity: 0.8; */
    display: inline-block;
    margin-bottom: 8px;
    cursor: pointer;
}
footer .link-blocks > div a:hover{
    /* opacity: 1; */
    color: black;
    transition: 0.25s;
}
footer .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
footer .bottom-container .laws{
    font-weight: bold;
}