.custom-btn{
    display: inline-block;
    padding: 12px 20px;
    border: solid black 1px;
    background-color: none;

    font-size: 16px;
    line-height: 18px;
}
.custom-btn:hover{
    background-color: black;
    color: white;
    transition: 0.25s;
}