.owl-dot{
    width: 15px;
    height: 15px;
    padding: 8px;
    border-radius: 50px;
    background-color: #B0B0B0;

    cursor: pointer;
    transition: 0.25s;
}
.owl-dot:hover{
    background-color: black;
    transition: 0.25s;
}
.owl-dot.active{
    background-color: black;
}