@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1920px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-black: #131313;
  --sup-black: #808080;
  --white-main: #ffffff;

  --footer-bg: #E9E9E9;
}

@media (min-width: 1025px){
  :root{
    /* TEXT */
    --text-title: 32px;
    --text-main: 20px;
    --text-mini: 16px;
    /* MARGINS */
    --header-height: 70px;
    --side-paddings: 30px;
  }
}
@media (max-width: 1024px){
  :root{
    --text-title: 28px;
    --text-main: 20px;
    --text-mini: 16px;
    /* MARGINS */
    --header-height: 70px;

    --side-paddings: 20px;
  }
}
@media (max-width: 650px){
  :root{
    --text-title: 20px;
    --text-main: 16px;
    --text-mini: 16px;
    /* MARGINS */
    --header-height: 55px;
    --side-paddings: 10px;
  }
}

body.no_scroll{
  overflow-y: hidden;
}
body{
  overflow-x: hidden;
}

@media screen and (min-width: 1025px){
  body.no_scroll header{
    padding-right: 16px;
  }
  body.no_scroll{
    padding-right: 16px;
  }
}
